# <span style="color:darkblue"> Lecture 3 Exercises </span>



## Short Questions

<font size = "5">

1. What is a codebook?
2. How you define a missing value in Python?
2. What is chaining?

In [ ]:
# Write your answers here as comments

#1, it is a table with Field, type, description

#2, np.nan

#3, This sequential syntax is known as "chaining"

## Long Questions

<font size = "5">

Import the libraries "numpy" and "pandas"

In [2]:
# Write your own code

import numpy as np
import pandas as pd

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [14]:
# Write your own code

students=pd.read_csv("data_raw/students.csv")

bins_1 = [0,55,60,66,70,75,80,83,87,93,100]
labels_1 = ["F",
            "D","C-","C","C+","B-","B","B+","A-","A"]

students["lettergrade"] = pd.cut(students["numericgrade"],
                              bins = bins_1,
                              right = True,
                              labels = labels_1,
                              include_lowest=True)

students["lettergrade"]


#students["numericgrade"]

0     C-
1      F
2      F
3      D
4     C+
5     A-
6      F
7      F
8      F
9     C-
10     F
11     F
12    C+
13     A
14     F
15     F
16     F
17     D
18     B
19     F
20     F
21    B+
22     B
23     F
24    C-
Name: lettergrade, dtype: category
Categories (10, object): ['F' < 'D' < 'C-' < 'C' ... 'B' < 'B+' < 'A-' < 'A']

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [7]:
# Write your own code
results=pd.read_csv("data_raw/results.csv")

results.dtypes

#it should be integer, but because there are \N inside the dataframe

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [50]:
# Write your own code

results=pd.read_csv("data_raw/results.csv")

subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

list_old = ['\\N']
list_new = [1]

results["milliseconds"] = results["milliseconds"].replace(list_old, list_new)

results["milliseconds"] = results["milliseconds"].replace(list_old, list_new)
results["milliseconds"] = pd.to_numeric(results["milliseconds"], errors='coerce')
results["milliseconds"]

['\\N']

0        5690616
1        5696094
2        5698779
3        5707797
4        5708630
          ...
25835          1
25836          1
25837          1
25838          1
25839          1
Name: milliseconds, Length: 25840, dtype: int64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [52]:
# Write your own code

# Group by 'constructorId'
results_agg = results.groupby('constructorId')['laps'].agg(['mean', 'std'])

# Sort the aggregated results
results_agg = results_agg.sort_values(by='mean', ascending=False)

results_agg

                     mean        std
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [71]:
# Write your own code


# Subset observations 
subset_results = results.query('raceId >= 200')
results_agg = subset_results.groupby('constructorId')['laps'].agg(['mean', 'std'])


results_agg

                    mean        std
constructorId
1              50.093510  23.147774
3              51.349621  21.064902
4              46.396450  22.565290
5              51.787879  18.281774
6              50.305798  25.953854
...                  ...        ...
209            52.282051  19.522147
210            51.434028  19.915741
211            54.684211  17.680279
213            52.393443  19.883361
214            54.204545  17.951505

[201 rows x 2 columns]


<font size = "5">

(f) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

In [73]:
# Write your own code

# Import file
data = pd.read_csv("data_raw/constructor_standings.csv")

# Replacing 'E'
data['positionText'] = data['positionText'].replace('E', 11)

# Creating a new column 
data['positionNumeric'] = pd.to_numeric(data['positionText'])


data

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,positionNumeric
0,1,18,1,14.0,1,1,1,1
1,2,18,2,8.0,3,3,0,3
2,3,18,3,9.0,2,2,0,2
3,4,18,4,5.0,4,4,0,4
4,5,18,5,2.0,5,5,0,5
...,...,...,...,...,...,...,...,...
12936,28408,1098,210,0.0,6,6,0,6
12937,28409,1098,1,0.0,7,7,0,7
12938,28410,1098,131,0.0,8,8,0,8
12939,28411,1098,9,0.0,9,9,0,9
12940,28412,1098,3,0.0,10,10,0,10

<font size = "5">

(g) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [74]:
# Write your own code



# Importing data
races = pd.read_csv("data_raw/races.csv")

# Define the bins and labels for the year brackets
bins = [1949, 1970, 1990, 2005, 2020, float("inf")]
labels = ["1950-1970", "1971-1990", "1991-2005", "2006-2020", "2020-onwards"]

# Recode 'year' into 'year_brackets'
races['year_brackets'] = pd.cut(races['year'], bins=bins, labels=labels, right=True)

races

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,year_brackets
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2020
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2020
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2020
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2020
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2006-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00,2020-onwards
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N,2020-onwards
1099,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00,2020-onwards
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N,2020-onwards
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N,2020-onwards

<font size = "5">

(h) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [77]:
# Write your own code

# Import the file
data = pd.read_csv("data_raw/constructor_standings.csv")

# Subset observations where 'raceId' is 10
subset = data.query('raceId == 10')

# Group by 'constructorId' and sum 'points'
grouped = subset.groupby('constructorId')['points'].agg('sum')

# Subset teams with sum of points >= 50
constructor_standings_agg = grouped[grouped >= 50].reset_index()


constructor_standings_agg

   constructorId  points
0              9    98.5
1             23   114.0

<font size = "5">

(i) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [64]:
# Write your own code


# Importing the file
data = pd.read_csv("data_raw/constructor_standings.csv")

# Group by 'constructorId' and sum 'points'
team_points_sum = data.groupby('constructorId')['points'].agg('sum')

# Sort the teams 
sorted_teams = team_points_sum.sort_values(ascending=False)


sorted_teams

constructorId
6      90204.0
131    71808.5
9      64986.5
1      57188.5
3      32093.5
        ...
93         0.0
92         0.0
90         0.0
89         0.0
91         0.0
Name: points, Length: 159, dtype: float64

<font size = "5">

(j) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>

In [66]:
# Write your own code

# Importing thefile
data = pd.read_csv("data_raw/constructor_standings.csv")

# Rename 'wins' column to 'wins_constructor'
datanew = data.rename(columns={'wins': 'wins_constructor'})



datanew

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins_constructor
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
12936,28408,1098,210,0.0,6,6,0
12937,28409,1098,1,0.0,7,7,0
12938,28410,1098,131,0.0,8,8,0
12939,28411,1098,9,0.0,9,9,0
12940,28412,1098,3,0.0,10,10,0

<font size = "5">

(k) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [78]:
# Write your own code


# Importing the files
standing = pd.read_csv("data_raw/constructor_standings.csv")
constructors = pd.read_csv("data_raw/constructors.csv")

# Extracting from the constructors
constructors_subset = constructors[['constructorId', 'nationality']]

# Merging the DataFrames
merged_dataset = pd.merge(standing, constructors_subset, on='constructorId')


merged_dataset

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,nationality
0,1,18,1,14.0,1,1,1,British
1,7,19,1,24.0,1,1,1,British
2,18,20,1,28.0,3,3,1,British
3,29,21,1,34.0,3,3,1,British
4,40,22,1,42.0,3,3,1,British
...,...,...,...,...,...,...,...,...
12936,28367,1093,214,149.0,4,4,0,French
12937,28377,1094,214,153.0,4,4,0,French
12938,28387,1095,214,167.0,4,4,0,French
12939,28397,1096,214,173.0,4,4,0,French
12940,28405,1098,214,0.0,3,3,0,French