# <span style="color:darkblue"> Lecture 9 Exercises </span>

<font size = "5">

Import the libraries "matplotlib.pyplot" and "pandas"

In [1]:
# Write your answer here

import matplotlib.pyplot as plt
import pandas as pd

<font size = "5">

In this quiz you will work with data on exchange rates, <br>
for two currencies:

- 1 dollar (USD) to chinese yuan (RMB)
- 1 dollar (USD) to japanese yen (JPY).


<font size = "5">

(a) Import and parse dates

<font size = "3">

- Import the dataset "exchangerates.csv"
- Parse the "date_string" column with ```pd.to_datetime()```

In [9]:
# Write your own code
exchangerates=pd.read_csv('data_raw/exchangerates.csv')

exchangerates['date']=pd.to_datetime(exchangerates['date_string'])

exchangerates

                   date_string  usd_to_rmb  usd_to_jpy       date
0         1981, Friday, Jan 02      1.5341      202.50 1981-01-02
1         1981, Monday, Jan 05      1.5418      199.05 1981-01-05
2        1981, Tuesday, Jan 06      1.5264      199.70 1981-01-06
3      1981, Wednesday, Jan 07      1.5264      201.05 1981-01-07
4       1981, Thursday, Jan 08      1.5264      201.70 1981-01-08
...                        ...         ...         ...        ...
11016     2023, Monday, Mar 27      6.8834      131.49 2023-03-27
11017    2023, Tuesday, Mar 28      6.8725      130.97 2023-03-28
11018  2023, Wednesday, Mar 29      6.8862      132.69 2023-03-29
11019   2023, Thursday, Mar 30      6.8700      132.71 2023-03-30
11020     2023, Friday, Mar 31      6.8676      132.75 2023-03-31

[11021 rows x 4 columns]

<font size = "5">

(b) Plot multiple time series

<font size = "3">

- Create a line plot plot which has the "usd_to_rmb" and "usd_to_jpy" on the y-axis <br>
and the date on the x-axis
- Label the x-axis, the y-axis, and the title
- Add a legend and set the names to "1 USD to RMB" and "1 USD to JPY"

In [ ]:
# Write your own code

<font size = "5">

(c) Compute growth rates

<font size = "3">

- Calculate a new column "growth_rmb" which computes the percentage daily <br>
growth rate of "usd_to_rmb".

In [ ]:
# Write your own code

<font size = "5">

(d) Flag subset of data and plot

<font size = "3">

- Create a boolean colum (True/False) "bool_cond" which checks whether <br>
"growth_rmb" had a value greater than 2 or less than -2
- Generate a line plot with the "growth_rmb" series, label the axes and the title
- Use the command ```plt.fill_between()``` to create a shaded region <br>
for time periods where "bool_cond" is true.

In [ ]:
# Write your own code

<font size = "5">

(e) Aggregate dataset by time period

<font size = "3">

- Create an object "month_config" that uses ```pd.Grouper()```, setting the key to <br>
the date column and freq to "m" (month)
- Compute an aggregate dataset <br>
by month which computes the standard deviation of "usd_to_rmb"
- Display the dataset

In [ ]:
# Write your own code

<font size = "5">

(f) Convert a dataset to long format

<font size = "3">

- Convert the currencies dataset to long format using the following inputs

```
var_name   = "type",
value_name = "exchange_rate",
id_vars    = "date",
value_vars = ["usd_to_rmb","usd_to_jpy"]
```

- Display the dataset

In [ ]:
# Write your own code